/* PARA CELULAR */
@media (max-width: 425px) {

    /* CABEÇALHO */
    
    header>.navbar {
     
    }
    
    .hamburgers {
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        cursor: pointer;
        padding-bottom: 3px;
        position: relative;
    }

    .hamburger input {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        border-radius: 40px;
        transition: all 0.3s cubic-bezier(0.37, -1.11, 0.79, 2.02);
        background-color: #DBD1BD;
    }

    .hamburger input:checked~.bar:nth-child(2) {
        transform: translateY(9.5px) rotate(45deg);
    }

    .hamburger input:checked~.bar:nth-child(3) {
        opacity: 0;
    }

    .hamburger input:checked~.bar:nth-child(4) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* PARTE 01 */
    .parte1 h1 {
        color: black;
        font-size: 40px;
        font-weight: 800;
        margin-top: -90px;
    }

    .parte1 h2 {
        color: #EE5765;
        font-size: 19px;
        font-weight: 500;
    }

    .topo p {
        color: black;
        margin: 20px 0;
        font-weight: 440;
        font-size: 16px;
        text-align: justify;
    }

    .curriculo button {
        padding: 10px 40px;
        font-size: 16px;
        font-weight: 500;
        background-color: #FBB620;
        border: 0;
        cursor: pointer;
        transition: .2s;
        height: 55px;
    }

    .rafita img {
        margin: 0px 0;
        width: 355px;
        left: -20px;
        height: auto;
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    /* PARTE 02 */
    .parte2 {
        display: inline-block;
        justify-content: center;
        align-items: flex-start;
        /* Alinha no topo */
        padding: 80px 0px;
        /* Adiciona um padding para melhor visualização */
        background-color: #1E1E1E;
        width: 768px;
    }

    .habilidades {
        width: 45%;
        height: 485px;
        background-color: #FBB620;
        box-shadow: 14px 14px 0 #9c6c05;
        margin-left: 35px;
    }

    .habilidades h1 {
        font-weight: 450;
        font-size: 23px;
        margin-top: 0px;
        padding: 22px 26%;
    }

    .habilidades ul li {
        padding: 6px 10%;
        font-size: 16px;
        font-weight: 400;
    }

    /* CARROSEL */
    .ferramentas {
        width: 60%;
        height: 170px;
        padding: 10px 0%;
        margin: 40px;
        margin-left: -80px;
    }

    .ferramentas h1 {
        font-weight: 450;
        font-size: 23px;
        padding: 40px 44%;
        margin-top: -30px;
        color: #DBD1BD;
    }

    .carousel-container {
        width: 100%;
        /* O carrossel ocupa toda a largura disponível para ele */
        height: 150px;
        /* Define uma altura fixa para o carrossel */
        overflow: hidden;
        position: relative;
        margin-top: 0px;
        /* Adiciona uma margem superior */
        left: 20px;

    }


    .carousel-items {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 435%;
        /* 3x a largura do contêiner para 3 slides.  Ajuste conforme necessário.*/
    }

    .carousel-item {
        width: calc(100% / 1);
        /* Cada item ocupa 1/3 da largura do carrossel. Ajuste o denominador de acordo com a quantidade de slides.*/
        height: auto;
        display: flex;
        flex-direction: column;
        /* Para empilhar imagem e legenda */
        justify-content: center;
        align-items: center;
        text-align: center;
        /* Centraliza o texto da legenda */
    }

    .carousel-item img {
        width: 40%;
        /* Impede que a imagem ultrapasse o tamanho do item */
        height: auto;
        margin-bottom: 10px;
        /* Espaço entre a imagem e a legenda */
    }


    .carousel-item p {
        font-size: 16px;
        font-weight: 500;
        color: #DBD1BD;
    }

    .carousel-control {
        position: absolute;
        top: 0%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .carousel-control:hover {
        transform: scale(1.2);
    }

    button #esquerda {
        height: auto;
        width: 3vh;
        margin-top: 5px;
    }

    button #direita {
        height: auto;
        width: 3vh;
    }

    .prev {
        left: 1px;
    }

    .next {
        right: 5px;
    }

    /* PARTE 03 */
    .parte3 .TITULO h1 {
        font-weight: 450;
        font-size: 23px;
        margin-top: 20px;
    }

    .projetos1 {
        display: inline-block;
        justify-content: center;
        margin: 0%;
        margin-top: 10px;
    }

    .projetos1 img {
        height: auto;
        width: 50vh;
        padding: 20px;
    }

    .projetos2 {
        display: inline-block;
        justify-content: center;
        margin: 0%;
        margin-top: 10px;
    }

    .projetos2 img {
        height: auto;
        width: 50vh;
        padding: 20px;
    }

    /* PARTE 04 */
    .parte4 {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 30px 0px;
        background-color: #FF7B89;
        flex-direction: column;
    }

    .certificados h1 {
        font-weight: 500;
        font-size: 23px;
        margin-top: 20px;
        padding: 0px 19%;
        color: #F6EEE1;
        margin-left: 40px;
    }

    .certificados {
        position: relative;
    }

    .certificados img {
        height: auto;
        width: 100%;
        padding: 30px;
        margin-left: 0px;
    }

    .certificados .pastas img {
        position: absolute;
        height: auto;
        width: 35%;
    }

    .pastas #certfCLOUD {
        top: 115px;
        left: 20px;
    }

    .pastas #certfAWS {
        top: 115px;
        left: 130px;
    }

    .pastas #certfCISCO {
        top: 115px;
        left: 240px;
    }

    .pastas #certfSENAI {
        top: 210px;
        left: 20px;
    }

    .contato {
        background-color: #FBB620;
        width: 45vh;
        height: 40vh;
        margin-top: 10px;
        margin-left: 15px;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 100%;
        /* border-bottom-right-radius: 100%; */
        position: relative;
    }

    .contato h1 {
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 23px;
        margin-left: 0px;
        margin-top: 40px;
    }

    .contato .icons img {
        position: absolute;
        height: auto;
        width: 7%;
        margin-left: -10px;
        margin-top: 20px;
    }

    .icons #email {
        top: 70px;
        left: 80px;
    }

    .icons #whatsapp {
        top: 107px;
        left: 75px;
        width: 10%;
    }

    .icons #insta {
        top: 155px;
        left: 80px;
    }

    .icons #linkedin {
        top: 200px;
        left: 80px;
    }

    .icons #github {
        top: 245px;
        left: 80px;
        width: 8%;
    }

    .icons #emailRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 90px;
        left: 110px;
        font-size: 18px;
    }

    .icons #whatsappRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 132px;
        left: 110px;
        font-size: 18px;
    }

    .icons #instaRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 176px;
        left: 110px;
        font-size: 18px;
    }

    .icons #linkedinRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 222px;
        left: 110px;
        font-size: 18px;
    }

    .icons #githubRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 270px;
        left: 112px;
        font-size: 18px;
    }
}