* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900 */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-color: #F6EEE1;
    height: 100vh;
}

/* CABEÇALHO */
.navbar {
    max-width: 100%;
    margin: 0 auto;
}

header {
    padding: 1px 3%;
    background-color: #1E1E1E;
    box-shadow: 0 2px 5px #1E1E1E;
    width: 100%;
    position: fixed;
    z-index: 100;
}

header>.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #DBD1BD;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #ff4775;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: #FBB620;
    border: 0;
    cursor: pointer;
}

header .btn-contato button:hover {
    /* box-shadow: 0px 0px 8px #9c6c05; */
    box-shadow: 6px 6px 0 #9c6c05;
}

.logo img {
    width: 100px;
    height: auto;
}

.rafa {
    color: #DBD1BD;
    font-size: 28px;
    margin-right: 250px;
}

/* PARTE 01 */
section.parte1 {
    padding: 240px 4%;
}

.flex {
    display: flex;
}

section.parte1 .flex {
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.parte1 h1 {
    color: black;
    font-size: 50px;
    font-weight: 500;
}

.parte1 h2 {
    color: #EE5765;
    font-size: 23px;
    font-weight: 500;
}

.topo p {
    color: black;
    margin: 20px 0;
    font-weight: 440;
    font-size: 20px;
}

.curriculo button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: #FBB620;
    border: 0;
    cursor: pointer;
    transition: .2s;
    height: 60px;
}

.curriculo button:hover {
    /* box-shadow: 0px 0px 8px #ffbe32; */
    transform: scale(1.05);
    box-shadow: 7px 7px 0 #9c6c05;
}

.rafita img {
    margin: -50px 0;
    width: 520px;
    height: auto;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* PARTE 02 */
.parte2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Alinha no topo */
    padding: 80px 0px;
    /* Adiciona um padding para melhor visualização */
    background-color: #1E1E1E;
}

.habilidades {
    width: 35%;
    height: 520px;
    background-color: #FBB620;
    box-shadow: 14px 14px 0 #9c6c05;
    margin-left: 100px;
}

.habilidades h1 {
    font-weight: 450;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px 32%;
}

.habilidades ul {
    list-style-type: none;
}

.habilidades ul li {
    padding: 7px 10%;
    font-size: 18px;
    font-weight: 400;
}

/* CARROSEL */
.ferramentas {
    width: 50%;
    height: 340px;
    padding: 0px 0%;
    margin: 50px;
}

.ferramentas h1 {
    font-weight: 450;
    font-size: 30px;
    padding: 40px 37%;
    margin-top: 40px;
    color: #DBD1BD;
}

.carousel-container {
    width: 100%;
    /* O carrossel ocupa toda a largura disponível para ele */
    height: 150px;
    /* Define uma altura fixa para o carrossel */
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    /* Adiciona uma margem superior */

}


.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 435%;
    /* 3x a largura do contêiner para 3 slides.  Ajuste conforme necessário.*/
}

.carousel-item {
    width: calc(100% / 3);
    /* Cada item ocupa 1/3 da largura do carrossel. Ajuste o denominador de acordo com a quantidade de slides.*/
    height: auto;
    display: flex;
    flex-direction: column;
    /* Para empilhar imagem e legenda */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centraliza o texto da legenda */
}

.carousel-item img {
    width: 40%;
    /* Impede que a imagem ultrapasse o tamanho do item */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e a legenda */
}

/* .carousel-item img:hover{
    box-shadow: 2px 2px 8px #ffb3c9;
} */

.carousel-item p {
    font-size: 16px;
    font-weight: 500;
    color: #DBD1BD;
}

.carousel-control {
    position: absolute;
    top: 30%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-control:hover {
    transform: scale(1.2);
}

button #esquerda {
    height: auto;
    width: 4vh;
}

button #direita {
    height: auto;
    width: 4vh;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* PARTE 03 */
.parte3 .TITULO {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Alinha no topo */
    padding: 50px 0px;
    /* Adiciona um padding para melhor visualização */
}

.parte3 .TITULO h1 {
    font-weight: 450;
    font-size: 30px;
    margin-top: 20px;
}

.projetos1 {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    margin-top: 20px;
}

.projetos1 img {
    height: auto;
    width: 80vh;
}

.projetos1 img:hover {
    transform: scale(1.01);
}

.projetos2 {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.projetos2 img {
    height: auto;
    width: 80vh;
}

.projetos2 img:hover {
    transform: scale(1.01);
}

/* PARTE 04 */
.parte4 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* Alinha no topo */
    padding: 30px 0px;
    /* Adiciona um padding para melhor visualização */
    background-color: #FF7B89;
}

.certificados h1 {
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    padding: 0px 33%;
    color: #F6EEE1;
    margin-left: 110px;
}

.certificados{
    position: relative;
}

.certificados img{
    height: auto;
    width: 105%;
    padding: 30px;
    margin-left: 55px;
}

.certificados .pastas img{
    position: absolute;
    height: auto;
    width: 33%;
}

.certificados .pastas img:hover{
    transform: scale(1.05);
}

.pastas #certfCLOUD{
    top: 190px;
    left: 30px;
}

.pastas #certfAWS{
    top: 190px;
    left: 250px;
}

.pastas #certfCISCO{
    top: 190px;
    left: 480px;
}

.pastas #certfSENAI{
    top: 370px;
    left: 30px;
}

.contato {
    background-color: #FBB620;
    width: 75vh;
    height: 65vh;
    margin-top: 80px;
    margin-left: 290px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: relative;
}

.contato h1{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 40px;
}

.contato .icons img{
    position: absolute;
    height: auto;
    width: 7%;
}

.contato .icons img:hover{
    transform: scale(1.1);
}

.icons #email{
    top: 110px;
    left: 250px;
}

.icons #whatsapp{
    top: 175px;
    left: 242px;
    width: 10%;
}

.icons #insta{
    top: 250px;
    left: 250px;
}

.icons #linkedin{
    top: 325px;
    left: 250px;
}

.icons #github{
    top: 395px;
    left: 247px;
    width: 8%;
}

.icons #emailRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 115px;
    left: 325px;
    font-size: 23px;
}

.icons #whatsappRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 185px;
    left: 325px;
    font-size: 23px;
}

.icons #instaRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 258px;
    left: 325px;
    font-size: 23px;
}

.icons #linkedinRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 333px;
    left: 325px;
    font-size: 23px;
}

.icons #githubRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 406px;
    left: 325px;
    font-size: 23px;
}

/* FOOTER */
footer{
    background-color: #1E1E1E;
    color: #DBD1BD;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    height: auto;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

/* MEU MONITORZINHO */
@media (max-width: 1400px){
    section.parte1{
        padding: 160px 4%;
    }

    .habilidades h1 {
        font-weight: 450;
        font-size: 30px;
        margin-top: 20px;
        padding: 20px 27%;
    }

    .ferramentas h1 {
        font-weight: 450;
        font-size: 30px;
        padding: 40px 33%;
        margin-top: 40px;
        color: #DBD1BD;
    }

    .certificados h1 {
        font-weight: 500;
        font-size: 30px;
        margin-top: 20px;
        padding: 0px 27%;
        color: #F6EEE1;
        margin-left: 110px;
    }

    .contato {
        background-color: #FBB620;
        width: 105vh;
        height: 75vh;
        margin-top: 80px;
        margin-left: 100px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        position: relative;
    }

    .pastas #certfCLOUD{
        top: 170px;
        left: 30px;
    }
    
    .pastas #certfAWS{
        top: 170px;
        left: 220px;
    }
    
    .pastas #certfCISCO{
        top: 170px;
        left: 410px;
    }
    
    .pastas #certfSENAI{
        top: 330px;
        left: 30px;
    }

    .icons #email{
        top: 110px;
        left: 140px;
    }
    
    .icons #whatsapp{
        top: 165px;
        left: 132px;
        width: 10%;
    }
    
    .icons #insta{
        top: 230px;
        left: 140px;
    }
    
    .icons #linkedin{
        top: 295px;
        left: 140px;
    }
    
    .icons #github{
        top: 355px;
        left: 137px;
        width: 8%;
    }
    
    .icons #emailRAFA{
        position: absolute;
        text-decoration: none;
        color: black;
        top: 115px;
        left: 195px;
        font-size: 20px;
    }
    
    .icons #whatsappRAFA{
        position: absolute;
        text-decoration: none;
        color: black;
        top: 175px;
        left: 195px;
        font-size: 20px;
    }
    
    .icons #instaRAFA{
        position: absolute;
        text-decoration: none;
        color: black;
        top: 238px;
        left: 195px;
        font-size: 20px;
    }
    
    .icons #linkedinRAFA{
        position: absolute;
        text-decoration: none;
        color: black;
        top: 303px;
        left: 195px;
        font-size: 20px;
    }
    
    .icons #githubRAFA{
        position: absolute;
        text-decoration: none;
        color: black;
        top: 366px;
        left: 195px;
        font-size: 20px;
    }
}

/* Tablets (até 1023px) */
@media (max-width: 1023px) {
   /* CABEÇALHO */


header .btn-contato button {
    padding: 9px 25px;
    font-size: 18px;
}

.logo img {
    width: 60px;
    height: auto;
}

/* PARTE 01 */
section.parte1 {
    padding: 70px 4%;
}

.flex {
    display: flex;
}

.parte1 h1 {
    color: black;
    font-size: 46px;
    font-weight: 500;
    margin-top: 40px;
}

.parte1 h2 {
    color: #EE5765;
    font-size: 22px;
    font-weight: 500;
}

.topo p {
    color: black;
    margin: 20px 0;
    font-weight: 440;
    font-size: 18px;
}

.curriculo button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FBB620;
    border: 0;
    cursor: pointer;
    transition: .2s;
    height: 45px;
}

.rafita img {
    margin: 0px 0;
    width: 380px;
    left: 20px;
    height: auto;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* PARTE 02 */
.parte2 {
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    /* Alinha no topo */
    padding: 80px 0px;
    /* Adiciona um padding para melhor visualização */
    background-color: #1E1E1E;
}

.habilidades {
    width: 65%;
    height: 440px;
    background-color: #FBB620;
    box-shadow: 14px 14px 0 #9c6c05;
    margin-left: 170px;
}

.habilidades h1 {
    font-weight: 450;
    font-size: 30px;
    margin-top: 0px;
    padding: 22px 34%;
}

.habilidades ul {
    list-style-type: none;
}

.habilidades ul li {
    padding: 6px 10%;
    font-size: 19px;
    font-weight: 400;
}

/* CARROSEL */
.ferramentas {
    width: 60%;
    height: 170px;
    padding: 0px 0%;
    margin: 100px;
}

.ferramentas h1 {
    font-weight: 450;
    font-size: 30px;
    padding: 40px 47%;
    margin-top: -60px;
    color: #DBD1BD;
}

.carousel-container {
    width: 100%;
    /* O carrossel ocupa toda a largura disponível para ele */
    height: 150px;
    /* Define uma altura fixa para o carrossel */
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    /* Adiciona uma margem superior */
    left: 100px;

}


.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 435%;
    /* 3x a largura do contêiner para 3 slides.  Ajuste conforme necessário.*/
}

.carousel-item {
    width: calc(100% / 3);
    /* Cada item ocupa 1/3 da largura do carrossel. Ajuste o denominador de acordo com a quantidade de slides.*/
    height: auto;
    display: flex;
    flex-direction: column;
    /* Para empilhar imagem e legenda */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centraliza o texto da legenda */
}

.carousel-item img {
    width: 40%;
    /* Impede que a imagem ultrapasse o tamanho do item */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e a legenda */
}


.carousel-item p {
    font-size: 16px;
    font-weight: 500;
    color: #DBD1BD;
}

.carousel-control {
    position: absolute;
    top: 30%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-control:hover {
    transform: scale(1.2);
}

button #esquerda {
    height: auto;
    width: 4vh;
}

button #direita {
    height: auto;
    width: 4vh;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

/* PARTE 03 */
.parte3 .TITULO {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0%;
}

.parte3 .TITULO h1 {
    font-weight: 450;
    font-size: 30px;
    margin-top: 20px;
}

.projetos1 {
    display: inline-block;
    justify-content: center;
    margin: 20%;
    margin-top: 10px;
}

.projetos1 img {
    height: auto;
    width: 110vh;
    padding: 20px;
}

.projetos1 img:hover {
    transform: scale(1.01);
}

.projetos2 {
    display: inline-block;
    justify-content: center;
    margin: 20%;
    margin-top: -200px;
}

.projetos2 img {
    height: auto;
    width: 110vh;
    padding: 20px;
}

.projetos2 img:hover {
    transform: scale(1.01);
}

/* PARTE 04 */
.parte4 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px 0px;
    background-color: #FF7B89;
}

.certificados h1 {
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    padding: 0px 19%;
    color: #F6EEE1;
    margin-left: 10px;
}

.certificados{
    position: relative;
}

.certificados img{
    height: auto;
    width: 70%;
    padding: 30px;
    margin-left: 10px;
}

.certificados .pastas img{
    position: absolute;
    height: auto;
    width: 23%;
}

.certificados .pastas img:hover{
    transform: scale(1.05);
}

.pastas #certfCLOUD{
    top: 140px;
    left: 20px;
}

.pastas #certfAWS{
    top: 140px;
    left: 155px;
}

.pastas #certfCISCO{
    top: 140px;
    left: 290px;
}

.pastas #certfSENAI{
    top: 260px;
    left: 20px;
}

.contato {
    background-color: #FBB620;
    width: 75vh;
    height: 65vh;
    margin-top: 80px;
    margin-left: -100px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: relative;
}

.contato h1{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 40px;
}

.contato .icons img{
    position: absolute;
    height: auto;
    width: 7%;
}

.contato .icons img:hover{
    transform: scale(1.1);
}

.icons #email{
    top: 100px;
    left: 100px;
}

.icons #whatsapp{
    top: 137px;
    left: 95px;
    width: 10%;
}

.icons #insta{
    top: 185px;
    left: 100px;
}

.icons #linkedin{
    top: 230px;
    left: 100px;
}

.icons #github{
    top: 275px;
    left: 99px;
    width: 8%;
}

.icons #emailRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 100px;
    left: 140px;
    font-size: 18px;
}

.icons #whatsappRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 140px;
    left: 140px;
    font-size: 18px;
}

.icons #instaRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 187px;
    left: 140px;
    font-size: 18px;
}

.icons #linkedinRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 233px;
    left: 140px;
    font-size: 18px;
}

.icons #githubRAFA{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 280px;
    left: 142px;
    font-size: 18px;
}

/* FOOTER */
footer{
    background-color: #1E1E1E;
    color: #DBD1BD;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}
}

/* PARA CELULAR (iPhone XR) */
@media (max-width: 414px)
{
    
}