/* Tablets (até 1023px) */
@media (max-width: 1023px) {
    /* CABEÇALHO */


    header .btn-contato button {
        padding: 9px 25px;
        font-size: 18px;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    /* PARTE 01 */
    section.parte1 {
        padding: 70px 4%;
    }

    .flex {
        display: flex;
    }

    .parte1 h1 {
        color: black;
        font-size: 46px;
        font-weight: 500;
        margin-top: 40px;
    }

    .parte1 h2 {
        color: #EE5765;
        font-size: 22px;
        font-weight: 500;
    }

    .topo p {
        color: black;
        margin: 20px 0;
        font-weight: 440;
        font-size: 18px;
    }

    .curriculo button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        background-color: #FBB620;
        border: 0;
        cursor: pointer;
        transition: .2s;
        height: 45px;
    }

    .rafita img {
        margin: 0px 0;
        width: 380px;
        left: 20px;
        height: auto;
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    /* PARTE 02 */
    .parte2 {
        display: inline-block;
        justify-content: center;
        align-items: flex-start;
        /* Alinha no topo */
        padding: 80px 0px;
        /* Adiciona um padding para melhor visualização */
        background-color: #1E1E1E;
    }

    .habilidades {
        width: 65%;
        height: 440px;
        background-color: #FBB620;
        box-shadow: 14px 14px 0 #9c6c05;
        margin-left: 170px;
    }

    .habilidades h1 {
        font-weight: 450;
        font-size: 30px;
        margin-top: 0px;
        padding: 22px 34%;
    }

    .habilidades ul {
        list-style-type: none;
    }

    .habilidades ul li {
        padding: 6px 10%;
        font-size: 19px;
        font-weight: 400;
    }

    /* CARROSEL */
    .ferramentas {
        width: 60%;
        height: 170px;
        padding: 0px 0%;
        margin: 100px;
    }

    .ferramentas h1 {
        font-weight: 450;
        font-size: 30px;
        padding: 40px 47%;
        margin-top: -60px;
        color: #DBD1BD;
    }

    .carousel-container {
        width: 100%;
        /* O carrossel ocupa toda a largura disponível para ele */
        height: 150px;
        /* Define uma altura fixa para o carrossel */
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        /* Adiciona uma margem superior */
        left: 100px;

    }


    .carousel-items {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 435%;
        /* 3x a largura do contêiner para 3 slides.  Ajuste conforme necessário.*/
    }

    .carousel-item {
        width: calc(100% / 3);
        /* Cada item ocupa 1/3 da largura do carrossel. Ajuste o denominador de acordo com a quantidade de slides.*/
        height: auto;
        display: flex;
        flex-direction: column;
        /* Para empilhar imagem e legenda */
        justify-content: center;
        align-items: center;
        text-align: center;
        /* Centraliza o texto da legenda */
    }

    .carousel-item img {
        width: 40%;
        /* Impede que a imagem ultrapasse o tamanho do item */
        height: auto;
        margin-bottom: 10px;
        /* Espaço entre a imagem e a legenda */
    }


    .carousel-item p {
        font-size: 16px;
        font-weight: 500;
        color: #DBD1BD;
    }

    .carousel-control {
        position: absolute;
        top: 30%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .carousel-control:hover {
        transform: scale(1.2);
    }

    button #esquerda {
        height: auto;
        width: 4vh;
    }

    button #direita {
        height: auto;
        width: 4vh;
    }

    .prev {
        left: 5px;
    }

    .next {
        right: 5px;
    }

    /* PARTE 03 */
    .parte3 .TITULO {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 30px 0%;
    }

    .parte3 .TITULO h1 {
        font-weight: 450;
        font-size: 30px;
        margin-top: 20px;
    }

    .projetos1 {
        display: inline-block;
        justify-content: center;
        margin: 20%;
        margin-top: 10px;
    }

    .projetos1 img {
        height: auto;
        width: 110vh;
        padding: 20px;
    }

    .projetos1 img:hover {
        transform: scale(1.01);
    }

    .projetos2 {
        display: inline-block;
        justify-content: center;
        margin: 20%;
        margin-top: -200px;
    }

    .projetos2 img {
        height: auto;
        width: 110vh;
        padding: 20px;
    }

    .projetos2 img:hover {
        transform: scale(1.01);
    }

    /* PARTE 04 */
    .parte4 {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 30px 0px;
        background-color: #FF7B89;
    }

    .certificados h1 {
        font-weight: 500;
        font-size: 30px;
        margin-top: 20px;
        padding: 0px 19%;
        color: #F6EEE1;
        margin-left: 10px;
    }

    .certificados {
        position: relative;
    }

    .certificados img {
        height: auto;
        width: 70%;
        padding: 30px;
        margin-left: 10px;
    }

    .certificados .pastas img {
        position: absolute;
        height: auto;
        width: 23%;
    }

    .certificados .pastas img:hover {
        transform: scale(1.05);
    }

    .pastas #certfCLOUD {
        top: 140px;
        left: 20px;
    }

    .pastas #certfAWS {
        top: 140px;
        left: 155px;
    }

    .pastas #certfCISCO {
        top: 140px;
        left: 290px;
    }

    .pastas #certfSENAI {
        top: 260px;
        left: 20px;
    }

    .contato {
        background-color: #FBB620;
        width: 75vh;
        height: 65vh;
        margin-top: 80px;
        margin-left: -100px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        position: relative;
    }

    .contato h1 {
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 30px;
        margin-left: 120px;
        margin-top: 40px;
    }

    .contato .icons img {
        position: absolute;
        height: auto;
        width: 7%;
    }

    .contato .icons img:hover {
        transform: scale(1.1);
    }

    .icons #email {
        top: 100px;
        left: 100px;
    }

    .icons #whatsapp {
        top: 137px;
        left: 95px;
        width: 10%;
    }

    .icons #insta {
        top: 185px;
        left: 100px;
    }

    .icons #linkedin {
        top: 230px;
        left: 100px;
    }

    .icons #github {
        top: 275px;
        left: 99px;
        width: 8%;
    }

    .icons #emailRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 100px;
        left: 140px;
        font-size: 18px;
    }

    .icons #whatsappRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 140px;
        left: 140px;
        font-size: 18px;
    }

    .icons #instaRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 187px;
        left: 140px;
        font-size: 18px;
    }

    .icons #linkedinRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 233px;
        left: 140px;
        font-size: 18px;
    }

    .icons #githubRAFA {
        position: absolute;
        text-decoration: none;
        color: black;
        top: 280px;
        left: 142px;
        font-size: 18px;
    }

    /* FOOTER */
    footer {
        background-color: #1E1E1E;
        color: #DBD1BD;
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;
        height: auto;
        justify-content: center;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
    }
}